.font-wine{
    color: #4b0403
}

.bg-wine{
    background-color: #4b0403;
}

.border-wine{
    border-color: #4b0403;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.spliters{
    width: 250px;
}

.logo {
    height: 70px;
}

.carousel{
    width: auto;
    background-color: #4b0403;
}

.carousel-banner{
    max-width: 340px;

}

.list-group-item{
    background-color: #4b0403;
    border-color: #4b0403;
    color: gray;
}

/* subistituindo o codigo padrão do ACTIVE do carousel */
.list-group-item.active {
    background-color: white;
    color: #4b0403;
    font-weight: bolder;
}

.font-small{
    font-size: 15px;
}

.icon-size{
    width: 15px;
}