.font-wine{
    color: #4b0403
}
.font-gold{
    color: #DAA520;
}

.bg-wine{
    background-color: #4b0403;
}
.bg-gold{
    background-color: #DAA520;
}

.border-wine{
    border-color: #4b0403;
}

.hover:hover{
    border-radius: 10px;
    justify-content: center;
    animation: colorchange 0.5s forwards;
    color: #000000 !important;
}
@keyframes colorchange {
    from {background-color: #4b0403;}
    to {background-color: #DAA520;}
  }

p {
    padding-left: 20px;
    padding-right: 20px;
}

a:link:active{
    background-color: #DAA520;
}

.nopm{
    padding: 0px;
    margin: 0px;    
}

.spliters{
    width: 250px;
}

.logo {
    height: 70px;
}

.carousel{
    width: auto;
    background-color: #4b0403;
}

.carousel-banner{
    max-width: 340px;

}

.list-group-item{
    background-color: #4b0403;
    border-color: #4b0403;
    color: gray;
}

/* subistituindo o codigo padrão do ACTIVE do carousel */
.list-group-item.active {
    background-color: white;
    color: #4b0403;
    font-weight: bolder;
}

.font-small{
    font-size: 15px;
}

.icon-size{
    width: 15px;
}



/*FONT STYLE*/
@font-face{
    font-family: "SansitaSwashed";
    src: url("/src/fonts/sansitaSuashed/static/SansitaSwashed-Medium.ttf") format("truetype");
}
.sansita{
    font-family: "SansitaSwashed" ;
}

@font-face{
    font-family: "DavidLibre";
    src: url("/src/fonts/davidLibre/DavidLibre-Regular.ttf") format("truetype");
}
.david{
    font-family: "DavidLibre";
}

/* HOME IMAGE */
.bg-home{
    height: 450px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/img/HomeNaiara.png');
}

.bg-floral{
    background-repeat: repeat;
    background-image: url('/src/img/gray-floral.png');
}